version: '3.8'
services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      # BUG: Container cannot see 'localhost'. Needs to be 'mongo'.
      - MONGO_URI=mongodb://localhost:27017/shopflow 
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
